extends partials/_template.pug

block content
  section#about-us
    .container
      .row
        .col-6
          img.img-responsive(src="img/staff/staff.jpg", alt="")
        .col-6
          h2 Who Are We?
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium iste eius doloribus accusamus corrupti animi a aut, labore ad? Blanditiis reprehenderit ut optio? Unde nihil incidunt praesentium dicta, error ducimus!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ex commodi ut, nihil dolorem mollitia molestias tenetur accusantium itaque, at id deleniti odit. Et, architecto molestias odio aspernatur atque aliquam?
