extends partials/_template.pug

block content
  section#about-us
    .container
      .row
        .col-12
          h2 Who Are We?
          p Providence Restoration was founded on the unwavering commitment of providing the highest quality service, building long term relationships with our customers and investing in talented and motivated team members who embrace mutual respect and trust. We believe our word and handshake hold great value and customer satisfaction remains at the core of our business.
          p Providence Restoration delivers an unmatched level of commitment that is evident in everything that we do. We pride ourselves on being accountable, communicating exceedingly well, providing innovative solutions and the relentless pursuit of achieving superior results.
          p A spirit of Always Serving others is at the heart of our culture. Providence Restoration is on the front line of many devastating events that leave families and individuals in desperate circumstances. We believe in helping those in need by acts of kindness and charitable contributions. We encourage our team members to donate their time and get involved in church and community organizations that support the causes they’re passionate about, improving other people’s lives in ways both great and small.  We’ve found that Always Serving others isn’t just rewarding, it’s contagious. Providence Restoration is Always Serving.
        .col-8.offset-2
          img.img-responsive(src="img/staff/staff.jpg", alt="")
